

<header  >
    <ul class="navBar">
        <li><a href="/">Portfalio</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about/about">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>