@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div style="display:flex;">
    <div class="profileDetails">
        <a href="https://codeforces.com/profile/iMu_21">
            <div class="codeforcesDiv">
            </div>
        </a>
        <div class="onlineProfileDiv">
            <p>
                Username: iMu_21<br>
                Max Rating: 1522<br>
                Solved Problem: 1199
            </p>
        </div>



    </div>



    <div class="profileDetails">
        <a href="https://leetcode.com/iMu_21">
            <div class="leetcodeDiv">
            </div>
        </a>
        <div class="onlineProfileDiv">
            <p>
                Username: iMu_21<br>
                Solved Problem: 75
            </p>
        </div>



    </div>
    <div class="profileDetails">
        <a href="https://github.com/iMu21">
            <div class="githubDiv">
            </div>
        </a>
        <div class="onlineProfileDiv">
            <p>
                Username: iMu21<br>
            </p>
        </div>



    </div>
</div>