@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/index.css"/>


<h3 class="headline" style="text-align:center; height:50px;background-color:azure;padding-top:10px;">Projects:</h3>
<div class="indexDiv">
    
    <div class="leftDiv cards">
        @{
            for(int i=1;i<=12;i++){
                                <partial name="_cardSnipet"  />
            }
        }
         
    </div>

    <div class="rightDiv">
      <img class="imageHome" src="img/rk.jpg"/>
        <h4>HI There! I am Rakibul Islam</h4>
        <p>
            Software Engineer Trainee at Brain Station 23.
            I am Passionate about Web development, Machine Learning,
            Data Science and Competitive Programming. I love To
            Explore New Places, Playing Cricket Football Badminton Etc.
        </p>
  </div>
</div>
