

<link rel="stylesheet" href="~/css/about.css" />

<div class="aboutDiv">
    <div class="leftDiv">
        <h4>HI There! I am Rakibul Islam</h4>
        <p>
            Software Engineer Trainee at Brain Station 23.
            I am Passionate about Web development, Machine Learning,
            Data Science and Competitive Programming. I love To
            Explore New Places, Playing Cricket Football Badminton Etc.
        </p>

        <div>
            <h4>Skils: </h4>
            <ul>
                <li>
                    Python : Flask, Django
                </li>
                <li>
                    Javascript : ReactJS, NextJS
                </li>
                <li>
                    CSS : Bootstrap, Tailwinds Css
                </li>

            </ul>
        </div>

    </div>

    <div class="rightDiv">
        <img class="imageHome" src="~/img/rk.jpg" />
    </div>
</div>

<div style="display:flex;">
    <div class="profileDetails">
        
            <div class="codeforcesDiv">
            </div>
     
        <div class="onlineProfileDiv">
            <p>
                Username: Rakib1602066<br>
                Max Rating: 1381<br>
                Solved Problem: 413
            </p>
            <a href="https://codeforces.com/profile/Rakib1602066">  details... </a>
        </div>



    </div>



    <div class="profileDetails">
       
       <div class="leetcodeDiv">
       </div>

        <div class="onlineProfileDiv">
            <p>
                Username: Rakib1602066_PSTU<br>
                Solved Problem: 55
            </p>
            <a href="https://leetcode.com/Rakib1602066_PSTU/">See details ...</a>
        </div>



    </div>
    <div class="profileDetails">
        
            <div class="githubDiv">
            </div>
        
        <div class="onlineProfileDiv">
            <p>
                Username: RakibulIslamRakib<br>
            </p>
            <a href="https://github.com/RakibulIslamRakib">details...</a>
        </div>



    </div>
</div>
